.jumbotron {
    background-image: linear-gradient(to right, blue, indigo);
}

h1 {
    padding: 20px 0 20px 0;
}

.data.container {
    margin: 20px 15px 20px 15px;
}

hr.solid {
    border-top: 3px solid rgb(143, 143, 143);
}

.weather-icon {
    display: contents;
    line-height: 40px;
}

.weather-info {
    border: 2px solid rgb(143, 143, 143);
    border-radius: 5px;
}

.weather-info h3 {
    align-items: center;
}

.weather-info-data {
    padding: 0;
}

.weather-forecast {
    padding: 0;
    margin: 15px 0px 15px 0px;
}

.card-group {
    padding: 0;
}

.forecast {
    margin: 10px 0px 0px 0px;
}
