.jumbotron {
    background-image: linear-gradient(to right, blue,indigo);
}

h1 { 
    padding: 20px 0 20px 0;
}

.data.container {
    margin: 20px 15px 20px 15px;
}

button.searcher {
    color: snow;
    background-color: rgba(80, 177, 241, 0.979);
    margin: 15px 15px 15px 15px;
}